.bookCard,
.bookCard.full {
  border: 2px solid black;
  display: grid;
  grid-row: span 3;
  grid-template-rows: min-content auto auto;
  grid-template-rows: subgrid;
  gap: 5px;
  width: fit-content;
  p {
    margin: 0;
  }

  .cardHeader,
  .cardBody {
    padding: 0 0.8em 0.5em;
  }

  .imgContainer {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      max-width: 400px;
      // fakes subgrid alignment with various image sizes because
      // chrome refuses to support it yet.
      aspect-ratio: 1/1.8;
      object-fit: contain;
    }
  }

  .cardHeader {
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    p:not(.title) {
      font-size: 1rem;
    }
  }

  .cardBody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .author {
      margin-bottom: 1em;
      text-align: center;
      span {
        display: block;
      }
      span::after {
        content: ", ";
      }
      span:last-of-type::after {
        content: "";
      }
    }
    .extraInfo {
      font-size: 0.85em;
      .genreList {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        li::after {
          content: ", ";
          margin-right: 0.25em;
        }
        // remove comma from after last item in genreList
        :last-of-type::after {
          content: "";
        }
      }
    }
  }
}

.bookCard.simple {
  .cardHeader p:not(.title),
  .extraInfo {
    display: none;
  }
}

.bookCard.coverOnly {
  .cardHeader,
  .cardBody {
    display: none;
  }
}

.bookCard.noCover {
  .imgContainer,
  .extraInfo {
    display: none;
  }
}
