/* 

This file brings in global styles used for the project. Individual components will use css modules for handling component level styles.

*/

@import-normalize; /* bring in normalize.css styles */

body {
  font-family: sans-serif;
}

.no-style-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
